<div class="d-flex align-items-center justify-content-center">

<h1>Welcome to Library Management System</h1>	

</div>

<div class="d-flex align-items-center justify-content-center">

<%= image_tag("librrayhome.jpg", {:style => "width:1000px;"} ) %>

</div>


